body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #27292D;
    color: #A7A7A9;
    overflow: hidden;
}
#nav-container{
    height: 7vh;
    width: 50vw;
}

#nav-container h1{
    font-weight: lighter;
    margin: 0;
    float: left;
    padding: 0.6vh 1vw;
    color: white;
}
#nav-container img{
    max-height: 5vh;
    float: left;
    margin: 0%;
    padding: 1vh;
}
#span-sign{
    float: right;
    margin-top: -0.6vh;
    margin-right: 1vw;
    font-weight: bolder;
    color: #CDDC39;
    font-weight: 100;
}
#nav-container form{
    position: relative;
    top: 2vh;
    left:3vw;
}
#nav-container input{
    background-color: transparent;
    width: 12vw;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}
#nav-container input::placeholder{
    color: rgba(158, 158, 158,0.6);
}
#nav-container input:focus{
    outline: none;
}
#nav-container button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#span-co{
    color: #CDDC39;
    margin: 0;
}
